# Ignorar entornos virtuales
.env
/tfm_env

# Ignorar archivos cache
__pycache__/

# Ignorar los modelos
ml/

# Ignorar archivos temporales
*.swp

# ignorar modelos
bert_classifier/

# Ignorar archivos
test.sh
MIMICS-3500-v1.xlsx
data_loader.py
