# Ignorar entornos virtuales
.env
/tfm_env

# Ignorar archivos cache
__pycache__/

# Ignorar los modelos
ml/

# Ignorar archivos temporales
*.swp

# Ignorar logs
logs/
*.log

# Ignorar archivos csv, y xlsx
*.xlsx
*.csv

# Ignorar claves, certificados y csr
ssl/
CA/
*.key
*.crt
*.csr
*.srl

# ignorar modelos
bert_classifier/
bert_binary/
bert_classifier_7c/
bert_classifier_13c/

# Ignorar archivos
test.sh
data_loader.py
